 .navbar-custom {
   background-color: #00009C;
 }
 .navbar-brand-custom {
   width: 80px;
   height: 40px;
   margin-right: 5px;
	 color: #FFF;
   font-weight: bold;
 }
.number-display {
  font-size: 48px;
  text-align: center;
  margin-top: 20%;
}
#numero {
 font-size: 72px;
 text-align: center;
 margin-top: 20px;
}
